# Backup files
*~
\#*#
.*.s[a-w][a-p]
.s[a-w][a-p]

# Python compiled files
__pycache__/
*.py[co]

# Linter files
.mypy_cache/

# Config files
botconfig.py
/gamemodes.py
/messages.json
/roles/*.py

# Database files
*.sqlite3
*.bak

# Log files
*.log
