PASS = "my_nickserv_pass"
CHANNEL = "#mywolfgame"
HOST = "irc.freenode.net"
PORT = 6667
USERNAME = ""  # for authentication, can be left blank if same as NICK
NICK = "mywolfbot"
CMD_CHAR = "!"
CHANGING_HOST_QUIT_MESSAGE = "Changing host"

SASL_AUTHENTICATION = False  # put account name in USERNAME ^ if different from nick
USE_SSL = False
DISABLE_DEBUG_MODE = False  # Entirely disable debug mode
IGNORE_HIDDEN_COMMANDS = True # Ignore commands sent to @#channel or +#channel
ALLOW_NOTICE_COMMANDS = False  # allow /notice #channel !command to be interpreted as a command
ALLOW_PRIVATE_NOTICE_COMMANDS = False  # allow !command's from /notice (Private)

ALLOWED_NORMAL_MODE_COMMANDS = []  # debug mode commands to be allowed in normal mode

OWNERS = ("unaffiliated/wolfbot_admin1",)  # the comma is required at the end if there is one owner
ADMINS = ("unaffiliated/wolfbot_admin2", "unaffiliated/wolfbot_admin3")  # glob syntax supported (wildcards)
ALLOW = {"cloakof/fwaiter": ("fwait",),
         "cloakof/?omeone_else": ("fday","fnight")}
DENY = {}

# Stop editing here

# Argument --debug means start in debug mode
#          --verbose means to print a lot of stuff (when not in debug mode)
import argparse
parser = argparse.ArgumentParser()
parser.add_argument('--debug', action='store_true')
parser.add_argument('--sabotage', action='store_true')
parser.add_argument('--verbose', action='store_true')

args = parser.parse_args()
DEBUG_MODE = args.debug if not DISABLE_DEBUG_MODE else False
VERBOSE_MODE = args.verbose

DEFAULT_MODULE = "sabotage" if args.sabotage else "wolfgame"
